.historyContainer {
  display: flex;
  gap: 48px;
  justify-content: center;
}

.historyWrapper {
}

.historyItem {
  text-align: center;
}

.historyItem > div {
  background: aliceblue;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  font-size: 24px;
}
