.mapContainer {
  position: relative;
  /* margin-bottom: 16px; */
}

.mapContainer .mapButton {
  display: flex;
  position: absolute;
  top: 8px;
  right: 50%;
  transform: translate(50%, 0);
  z-index: 9;
  background: white;
  padding: 8px 16px;
  border-radius: 25px;
  font-size: 12px;
  gap: 6px;
  align-items: center;
  cursor: pointer;
}
